# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\strohwitwer\Documents\Dropbox_KIT\Dropbox\Master_KIT\WS2021\ML1\exercise\ex1\exercise_1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
